body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.container-categories
{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px; 
}

header {
    background: #007bff;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    margin-top: 20px;
    text-align: center;
}

#start-multiplayer {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}

#start-multiplayer:hover {
    background-color: #218838;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

#start-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}

#start-button:hover {
    background-color: #218838;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

#button-history{
    background-color: rgb(107, 2, 2);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}

#button-art{
    background-color: rgb(243, 220, 102);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}

#button-geography{
    background-color: rgb(55, 77, 220);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}

#button-sports{
    background-color: rgb(113, 228, 111);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}

#button-science{
    background-color: rgb(247, 128, 69);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}

#button-currentEvents{
    background-color: rgb(187, 187, 187);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}

#button-entertainment{
    background-color: rgb(191, 86, 226);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}


footer {
    margin-top: 30px;
    text-align: center;
    color: #777;
}
