<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/createUser.css">
</head>
<body>
    <div class="login-container">
        <h1>Login</h1>
        <form id="loginForm" action="/login" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" pattern="[A-Za-z0-9_]+" title="Username should only contain letters, numbers, and underscores." required>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
